{% extends 'base.html.twig' %}
{% form_theme formEmployer 'bootstrap_4_layout.html.twig' %}

{% block body %}
 
<h1 style="color:Teal;text-align: center;">Insertion d'un Employé </h1>
<div class="col-sm-6" style="text-align: center; margin: auto; background-color:cadetblue;">
{{ form_start(formEmployer)  }}

{{ form_widget(formEmployer)  }}
<button type="submit" class="btn btn-success">Ajouter</button>

{{ form_end(formEmployer)  }}
</div>
{% endblock  %}
