
.conn{
    font-size: 35px; background-image:url('ACCUEIL.jpg'); width: 50%; height: 400px; border:1px solid black;
   

}

h4 {
    font-size: 35px;
    color:  aquamarine;
    text-align: center;
}


